@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

.row{
  padding:0px;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
}

main {
  background-color: hsl(235, 18%, 26%);
  font-family: 'Roboto', sans-serif;
}
.content-card {
  border-radius: 25px;
  background-color: white;
  padding: 2% 1%;
  height:35rem;
  width:48rem;
}
.header {
  font-weight:bold;
  font-size: 3rem;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-div {
  padding: 10% 5%;
}
.list {
  margin-bottom: 5%;
}
.list-div {
  display:flex;
}
.list-p{
  font-size: 0.9rem;
}
.list-image{
  flex-basis:5%;
  margin-right: 5%;
}
li {
  list-style: none;
}
.desktop-img {
  display: block;
  width: auto;
  height:32rem;
}
.mobile-img {
  display: none;
}

.input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border-color: rgb(206, 202, 202);
  margin-bottom: 5%;
  border-width: 1p;
}
.label{
  font-size:.9rem;
  font-weight: 900;
}
.sub-button {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: hsl(234, 29%, 20%);
  color: white;
}
.sub-button:hover {
  background-color: hsl(4, 100%, 67%);
}
.success-message {
  display: none;
  background-color: white;
  width: 27rem;
  height: 28rem;
  border-radius: 25px;
  color: hsl(234, 29%, 20%);
  padding:5%;
}
.success-icon{
  margin-bottom: 5%;
  margin-top: -5%;
}
.success-button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  color: white;
  background-color: hsl(234, 29%, 20%);
}
.success-button:hover {
  background-color: hsl(4, 100%, 67%);
}
.success-email{
  font-weight: bold;
}
.thanks-header{
  font-size: 2.5rem;
  font-weight: 900;
}

@media (max-width: 600px) {

  .row{
    flex-direction: column-reverse;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display:flex;
    width: auto;
  }
  .content-card {
    border-radius: 25px;
    background-color: white;
    height:52rem;
    width:auto;
    top: -30px;
    position: relative;
  }
  
}